body{
    margin: 0;
}
.Header{
    background: linear-gradient(.25turn,#8bcecb,50%,white);
}
.bg-purple-dark {
    background: #99a9bf;
}
.projectLabel{
    color: white;

}
.projectLabelC{
    margin-top: 15px;
    margin-left: 50px;
}
.menuItem{
    width: fit-content;
}
.userMessageContainer{
    display: flex;
    margin-left: 170px;
    margin-top: 5px;
}
.usernameContainer{
    margin-top: 10px;
    display: flex;
}
.userAvaContainer{
    margin-left: 10px;
}
.userName{

}
.CopyrightContainer{
    font-size: small;
    margin-left: 43%;
    color: white;
}
.editButton{
    margin-right: 30px;
}
